    <footer class="footer">
        <div class="container">footer</div>
      </footer>
    </body>

<script src="public/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('public/javascripts/all.js') %>"></script>


</body>
</html>
