    <footer class="footer">
        <div class="container">footer</div>
      </footer>
    </body>

<script src="<%= assetFingerprint('public/javascripts/script.js') %>"></script>
<script src="public/javascripts/jquery.min.js"></script>

</body>
</html>
