<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <h1>Create template</h1>
    <form action="/create" method="post">
      <h2>Enter title</h2>
      <input type="text" name="title" />
      <h2>Enter body</h2>
      <textarea name="body" id="" cols="30" rows="10"></textarea>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
