<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        width: 980px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h2><%= title %></h2>
    <p><%= error.stack %></p>
    <p><%= message %></p>
    <h4><a href="/">Go to Home</a></h4>
  </body>
</html>
