<%- include('layouts/header') %>
<h1>Index template</h1>
<a href="/create"> Add </a>
<ul>
  <% posts.forEach(function(post){ %>
  <li>
    <h3><%- post.title %></h3>
    <p><%- post.body %></p>
  </li>
  <% }); %>
</ul>
<%- include('layouts/footer') %>
